* {
    font-family: sans-serif;
}

#mainframe {
    padding-left: 15%;
    padding-right: 15%;
}

#drawpad-handler {
    margin-top: 20px;
    border-bottom: 1px solid;
    position: relative;
    alignment: center;
}

#drawpad {
    position: relative;
    border: 1px solid black;
    background: #333333;
}

#btn {
    max-width: 120px;
    max-height: 40px;
    min-width: 70px;
    min-height: 12px;
    width: 25%;
    height: 5%;
    margin-bottom: 9%;
}

#btn-conf {
    width: 120px;
    height: 5%;
    margin-bottom: 9%;
}

#result-handler {
    display: none;
    visibility: hidden;
    margin-top: 20px;
    border-bottom: 1px solid;
    position: relative;
    alignment: center;
}

#text-result {
    alignment: left;
}

#answer-handler {
    display: none;
    visibility: hidden;
    margin-top: 20px;
    border-bottom: 1px solid;
}

#epic-fail {
    display: none;
    visibility: hidden;
    /*visibility: hidden;*/
    vertical-align: center;
}

#rampage {
    display: none;
    visibility: hidden;
    /*visibility: visible;*/
    alignment: center;
}