* {
    font-family: sans-serif;
}

#mainframe {
    /*padding-left: 5%;*/
    /*padding-right: 15%;*/
    margin-left: auto;
    margin-right: auto;
}

#drawpad-handler {
    margin-top: 20px;
    border-bottom: 1px solid;
    position: relative;
    alignment: center;
}

#drawpad {
    position: relative;
    border: 1px solid black;
    background: #333333;
}

#btn {
    max-width: 90px;
    max-height: 40px;
    min-width: 70px;
    min-height: 12px;
    width: 10%;
    height: 5%;
    margin-bottom: 9%;
    text-align: center;
}

#result-handler {
    visibility: hidden;
    margin-top: 20px;
    border-bottom: 1px solid;
    position: relative;
    alignment: center;
}

#text-result {
    alignment: left;
}

#answer-handler {
    visibility: hidden;
    margin-top: 20px;
    border-bottom: 1px solid;
}
